services:
  web:
    image: ${DOCKERHUB_USERNAME}/procura-backend:${IMAGE_TAG}
    env_file:
      - .env.prod
    ports:
      - "8000:8000"
    depends_on:
      - db
    restart: unless-stopped
    volumes:
      - staticdata:/app/staticfiles
      - mediadata:/app/media

  db:
    image: postgres:16
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  staticdata:
  mediadata:
  pgdata:
